//Colors
$error-bg: rgba(199, 22, 22, 0.6);
$main-bg-gradient: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.25)
);
$search-bg: rgba(255, 255, 255, 0.5);
$search-focus-bg: rgba(255, 255, 255, 0.75);
$search-text-color: #313131;
$weather-box-bg: rgba(255, 255, 255, 0.2);
$box-shadow-color: rgba(0, 0, 0, 0.25);
$text-shadow-color: rgba(50, 50, 70, 0.5);

//Mixin

@mixin background-image-position() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin middle-positioning() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin box-shadow($top, $right) {
  box-shadow: $top $right $box-shadow-color;
}

@mixin text-shadow($top, $right) {
  text-shadow: $top $right $text-shadow-color;
}

.weather-app {
  background-image: url("../../assets/all-s.jpg");
  @include background-image-position();
  transition: 0.4s ease-in-out;

  .error-container {
    background: $error-bg;
    text-align: center;
    animation-duration: 0.35s;

    .error {
      font-size: 1.2rem;
    }
  }

  main {
    min-height: 100vh;
    background-image: $main-bg-gradient;
    padding: 25px;

    .wrapper {
      max-width: 1450px;
      margin: 0 auto;

      .search-box {
        width: 100%;
        margin: 0 0 50px;

        .search-bar {
          font-family: "Open Sans Condensed", sans-serif;
          width: 100%;
          display: block;
          padding: 12px;
          appearance: none;
          border: none;
          background: none;
          outline: none;
          background-color: $search-bg;
          border-radius: 0 0 16px 16px;
          margin-top: -25px;
          @include box-shadow(0, 5px);
          font-size: 1.05rem;
          text-transform: uppercase;
          transition: 0.4s ease;
          color: $search-text-color;
          font-weight: 500;

          &:focus {
            background-color: $search-focus-bg;
            font-weight: 700;
          }
        }
      }

      .location-box {
        text-align: center;

        .location {
          font-size: 2.5rem;
          font-weight: 600;
          letter-spacing: 0.02rem;
          @include text-shadow(3px, 3px);
        }

        .date {
          font-size: 700;
          font-style: italic;
          font-size: 1.2rem;
          @include text-shadow(2px, 2px);
        }
      }

      .weather-box {
        text-align: center;
        display: block;
        width: 250px;
        height: auto;
        background: $weather-box-bg;
        border-radius: 18px;
        padding: 15px 25px;
        font-weight: 800;
        animation-duration: 0.6s;
        @include middle-positioning();
        @include box-shadow(3px, 6px);
        @include text-shadow(3px, 6px);

        .temperature {
          font-size: 4.5rem;
        }

        .weather-info {
          @include text-shadow(2px, 4px);

          .weather-icon {
            width: 100px;
            height: 100px;
          }

          .min-max-container {
            font-size: 1.2rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row: auto;
          }

          .weather-description {
            font-size: 2.6rem;
          }
        }
      }

      .default-title-container {
        @include middle-positioning();
        text-align: center;

        .default-title {
          font-size: 3.2rem;
          animation-duration: 0.8s;
          @include text-shadow(3px, 6px);
        }
      }
    }
  }
}

.thunderstorm {
  background-image: url("../../assets/thunderstorm.gif");
}

.drizze {
  background-image: url("../../assets/drizzle.gif");
}

.rain {
  background-image: url("../../assets/rain.gif");
}

.atmosphere {
  background-image: url("../../assets/atmosphere.gif");
}

.snow {
  background-image: url("../../assets/snow.gif");
}

.clouds {
  background-image: url("../../assets/clouds.gif");
}

.clear {
  background-image: url("../../assets/clear.gif");
}

@media screen and (max-width: 767px) {
  .weather-app {
    .error-container {
      .error {
        font-size: 0.9rem;
      }
    }

    main {
      padding: 20px;

      .wrapper {
        .search-box {
          margin: 0 0 30px;

          .search-bar {
            padding: 10px;
            font-size: 0.9rem;
            margin-top: -20px;
          }
        }

        .location-box {
          .location {
            font-size: 1.8rem;
          }

          .date {
            font-size: 1rem;
          }
        }

        .weather-box {
          width: 200px;
          padding: 10px 20px;

          .temperature {
            font-size: 3rem;
          }

          .weather-info {
            .weather-icon {
              width: 60px;
              height: 60px;
            }

            .min-max-container {
              font-size: 1rem;
            }

            .weather-description {
              font-size: 2rem;
            }
          }
        }

        .default-title-container {
          .default-title {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}
