//Colors
$main-bg-gradient: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.25));

//Breakpoints
$breakpoint-mobile: 767px;

.weather-content {
    min-height: 100vh;
    background-image: $main-bg-gradient;
    padding: 25px;

    .wrapper {
        max-width: 1450px;
        margin: 0 auto;
    }
}

//Breakpoint

@media screen and (max-width: $breakpoint-mobile) {
    .weather-content {
        padding: 20px;
    }
}